.progressBar {
  --bar-bg: #f3c848;
  --seek-before-width: 0;
  --seek-before-color: #f3c848;
  --knob: #ffffff;
  --selectedKnob: #f3c848;

  appearance: none;
  position: relative;
  outline: none;
  background: var(--bar-bg);
  height: 11px;
  width: 100%;
}

.progressBar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 15px;
  border: none;
  background-color: var(--knob);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knob while dragging */

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
}
